$main_bg_color:rgb(61, 67, 78);
$section_bg_color_01:rgba(100, 102, 105, 0.3);
$section_bg_color_02:rgba(0, 0, 0, 0.2);
$max_width:1200px;
$color_main:#3bd834;
$color_hover:#c4f8c2;
$center_align:0px auto;
$right_left_padding:3%;
$top_bottom_padding:5%;

%main_container {
    max-width: $max_width;
    margin: $center_align;
}


* {
    box-sizing: border-box;

}


body {
    background-color: $main_bg_color;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #ffffff;
    padding: 0 20px;

}

a:link,
a:visited {
    color: $color_main;
    text-decoration: none;
}

a:hover {
    color: $color_hover;
}


/*animated skill level bar to slide right */
.animated-slide-right {
    animation: slide-right 2s 0s;
    -webkit-animation: slide-right 2s 0s;
    -moz-animation: slide-right 2s 0s;
    -o-animation: slide-right 2s 0s;
}

@keyframes slide-right {
    from {
        width: 0%
    }
}

@-webkit-keyframes slide-right {
    from {
        width: 0%
    }
}

@-moz-keyframes slide-right {
    from {
        width: 0%
    }
}

@-o-keyframes slide-right {
    from {
        width: 0%
    }
}

nav {
    @extend %main_container;
    text-align: center;
    background-color: #000000;

    border-bottom: solid 3px $color_main;

    ul {
        padding: 5px 20px;
    }

    ul li {
        padding: 0 20px;

    }

    .link-font-color:link,
    .link-font-color:visited {
        color: #ffffff !important;
    }

    .link-font-color:hover {
        color: $color_main !important;
    }

    .active-link-font-color {
        color: $color_main !important;
    }

    .navbar-toggler {
        background-color: $color_main;
    }

    .navbar-toggler:focus {
        outline: 0;
    }
}

header {
    @extend %main_container;
    padding: $top_bottom_padding $right_left_padding;
    background-color: $section_bg_color_01;

    #profile-pic {
        max-width: 300px;
        width: 100%;
        height: auto;
        box-shadow: 5px 10px 8px #000000;

    }

    ul {
        list-style-type: none;

        .header-content {
            padding: 0;
        }

    }

    .row {
        margin: 0;
        padding: 0;
    }

    h1 {

        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    h2 {

        font-size: 1.2rem;
        font-weight: 100;
        text-transform: uppercase;
    }

    .text-highlight {
        color: $color_main;
    }
}

fieldset {
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid $color_main;
    border-radius: 5px;
}

legend {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    width: auto;
    font-size: 1.2rem;
    border-radius: 5px;
}

main {
    @extend %main_container;

    /********Sub Headings*******/

    .sub-headings {
        margin: 0;
        font-size: 1.8em;
        padding: 3% 3%;
        text-transform: uppercase;
        text-align: left;

    }

    .sub-heading-number {
        color: #b2adad;
    }


    /****Profile Description******/
    .profile-description {
        background-color: $section_bg_color_02;
        padding: $top_bottom_padding $right_left_padding;
    }
    
    

    /*************Professional section with Technical Competencies ****************/
    #professional {


        .prof-section {
            text-align: center;
            background-image: url('/img/computer.png');
            background-repeat: no-repeat;
            background-size: cover;
            padding: $top_bottom_padding $right_left_padding;

        }


        .sub-heading-desc {
            font-size: 1em;
            font-weight: 500;
            display: block;
            padding-bottom: 7%;
            text-transform: uppercase;
            text-align: left;
        }


        .prof-skills-container {
            width: 90%;
        }

        .row-content {
            padding: 2%;
        }

        .skill-name {
            text-align: left;
        }

        .progress {
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 15px;
            height: 12px;
        }

        .bg-prog {
            background-color: $color_main;
            text-align: right;
            color: #000000;
            font-weight: bold;
        }

        /*Technical Competencies*/
        .sub-heading-skills {
            font-size: 1.2em;
            font-weight: 500;
            display: block;
            text-transform: uppercase;
            margin: 0;
            padding: $right_left_padding;
            text-align: left;
            background-color: $section_bg_color_01;
        }

        .skill-container {
            background-color: $section_bg_color_02;
            padding: $top_bottom_padding $right_left_padding;
            border-bottom: 3px solid #ffffff;
        }

        .skill-cell {
            padding: 15px;
            text-align: center;
            display: inline-block;

        }

        .skill-heading {
            font-size: 1em;
            font-weight: 400;
            padding-bottom: 10px;
            border-bottom: solid 3px $color_main;
        }

        .img-skill {
            margin: $center_align;
            max-height: 50px;
            height: auto;
            padding-bottom: 10px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }
    }

    
    
}

