$main_bg_color:rgb(61, 67, 78);
$section_bg_color_01:rgba(100, 102, 105, 0.3);
$section_bg_color_02:rgba(0, 0, 0, 0.2);
$max_width:1200px;
$color_main:#3bd834;
$color_hover:#c4f8c2;
$center_align:0px auto;
$right_left_padding:3%;
$top_bottom_padding:5%;

%main_container {
    max-width: $max_width;
    margin: $center_align;
}


* {
    box-sizing: border-box;

}


body {
    background-color: $main_bg_color;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #ffffff;
    padding: 0 20px;

}

a:link,
a:visited {
    color: $color_main;
    text-decoration: none;
}

a:hover {
    color: $color_hover;
}


/*animated skill level bar to slide right */
.animated-slide-right {
    animation: slide-right 2s 0s;
    -webkit-animation: slide-right 2s 0s;
    -moz-animation: slide-right 2s 0s;
    -o-animation: slide-right 2s 0s;
}

@keyframes slide-right {
    from {
        width: 0%
    }
}

@-webkit-keyframes slide-right {
    from {
        width: 0%
    }
}

@-moz-keyframes slide-right {
    from {
        width: 0%
    }
}

@-o-keyframes slide-right {
    from {
        width: 0%
    }
}

nav {
    @extend %main_container;
    text-align: center;
    background-color: #000000;

    border-bottom: solid 3px $color_main;

    ul {
        padding: 5px 20px;
    }

    ul li {
        padding: 0 20px;

    }

    .link-font-color:link,
    .link-font-color:visited {
        color: #ffffff !important;
    }

    .link-font-color:hover {
        color: $color_main !important;
    }

    .active-link-font-color {
        color: $color_main !important;
    }

    .navbar-toggler {
        background-color: $color_main;
    }

    .navbar-toggler:focus {
        outline: 0;
    }
}

header {
    @extend %main_container;
    padding: $top_bottom_padding $right_left_padding;
    background-color: $section_bg_color_01;

    #profile-pic {
        max-width: 300px;
        width: 100%;
        height: auto;
        box-shadow: 5px 10px 8px #000000;

    }

    ul {
        list-style-type: none;

        .header-content {
            padding: 0;
        }

    }

    .row {
        margin: 0;
        padding: 0;
    }

    h1 {

        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    h2 {

        font-size: 1.2rem;
        font-weight: 100;
        text-transform: uppercase;
    }

    .text-highlight {
        color: $color_main;
    }
}

fieldset {
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid $color_main;
    border-radius: 5px;
}

legend {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    width: auto;
    font-size: 1.2rem;
    border-radius: 5px;
}

main {
    @extend %main_container;

    /********Sub Headings*******/

    .sub-headings {
        margin: 0;
        font-size: 1.8em;
        padding: 3% 3%;
        text-transform: uppercase;
        text-align: left;

    }

    .sub-heading-number {
        color: #b2adad;
    }


    /****Profile Description******/
    .profile-description {
        background-color: $section_bg_color_02;
        padding: $top_bottom_padding $right_left_padding;
    }
    
    

    /*************Professional section with Technical Competencies ****************/
    #professional {


        .prof-section {
            text-align: center;
            background-image: url('/img/computer.png');
            background-repeat: no-repeat;
            background-size: cover;
            padding: $top_bottom_padding $right_left_padding;

        }


        .sub-heading-desc {
            font-size: 1em;
            font-weight: 500;
            display: block;
            padding-bottom: 7%;
            text-transform: uppercase;
            text-align: left;
        }


        .prof-skills-container {
            width: 90%;
        }

        .row-content {
            padding: 2%;
        }

        .skill-name {
            text-align: left;
        }

        .progress {
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 15px;
            height: 12px;
        }

        .bg-prog {
            background-color: $color_main;
            text-align: right;
            color: #000000;
            font-weight: bold;
        }

        /*Technical Competencies*/
        .sub-heading-skills {
            font-size: 1.2em;
            font-weight: 500;
            display: block;
            text-transform: uppercase;
            margin: 0;
            padding: $right_left_padding;
            text-align: left;
            background-color: $section_bg_color_01;
        }

        .skill-container {
            background-color: $section_bg_color_02;
            padding: $top_bottom_padding $right_left_padding;
            border-bottom: 3px solid #ffffff;
        }

        .skill-cell {
            padding: 15px;
            text-align: center;
            display: inline-block;

        }

        .skill-heading {
            font-size: 1em;
            font-weight: 400;
            padding-bottom: 10px;
            border-bottom: solid 3px $color_main;
        }

        .img-skill {
            margin: $center_align;
            max-height: 50px;
            height: auto;
            padding-bottom: 10px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }
    }

    /*****************Experience Section*****************/
    #experience {
        @extend %main_container;
        background-color: $section_bg_color_01;
        background-image: url('/img/mountain.png');
        text-align: center;
        padding: $top_bottom_padding $right_left_padding;


        /*********Time Line ******************/
        .timeline {
            position: relative;
            padding-top: $top_bottom_padding;
        }

        /* The actual timeline (the vertical ruler) */
        .timeline::after {
            content: '';
            position: absolute;
            width: 4px;
            background-color: $color_main;
            top: 0;
            bottom: 0;
            left: 10px;
            margin-left: -3px;

        }

        /* Full-width containers */
        .timeline-container {
            width: 100%;
            padding: 10px 5px 10px 40px;
            position: relative;
            background-color: inherit;
        }

        /* The circles on the timeline */
        .timeline-container::after {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            left: 15px;
            background-color: $color_main;
            border: none;
            top: 24px;
            border-radius: 50%;
            z-index: 1;
        }

        /* Add arrows to the left container  & right container (pointing left) */
        .left::before,
        .right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            border: medium solid #ffffff;
            border-width: 10px 10px 10px 0;
            border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
        }

        /* Make sure that all arrows are pointing leftwards */
        .timeline-container::before {
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
        }


        /* Place the container to the left */
        .left,
        .right {
            left: 0;
        }


        /* Make sure all circles are at the same spot */
        .left::after,
        .right::after {
            left: 0px;
        }

        /* The actual content */
        .content-left,
        .content-right {
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #ffffff;
            position: relative;
            border-radius: 6px;
            text-align: left;
            font-size: 0.9em;
        }



        /*****************TIME LINE EFFECTS****************/

        .timeline .timeline-container::after {
            transition: background .5s ease-in-out;
        }

        .timeline .timeline-container.in-view::after {
            background: #3bd834;
        }

        .timeline .content-left,
        .timeline .content-right {
            visibility: hidden;
            opacity: 0;
            transition: all .5s ease-in-out;
        }


        .timeline .content-left {
            transform: translate3d(0px, 0, 0);
        }

        .timeline .content-right {
            transform: translate3d(0px, 0, 0);
        }

        .timeline .timeline-container.in-view div {
            transform: none;
            visibility: visible;
            opacity: 1;
        }

    }

     /*****************Education Section*****************/
    #education {
        @extend %main_container;
        background-color: $section_bg_color_01;
        text-align: center;
        padding: $top_bottom_padding $right_left_padding;

        .sub-headings {
            padding-bottom: 8%;
        }


        .edu-sub-container {

            text-align: left;
            background-color: $section_bg_color_02;

        }

        .edu-sub-container > :first-child {

            border-top: solid 3px $color_main;
        }

        ul {
            list-style-type: none;
            border-bottom: solid 3px $color_main;
            padding: $right_left_padding;
            margin: 0;

            li {
                padding-top: 15px;
            }

        }

        .edu-content {
            font-size: 1em;
            font-weight: 400;
        }
    }

    
}

